# Telegram API Credentials (Get them free from https://my.telegram.org)
API_ID=12345678
API_HASH=your_api_hash_here

# Telegram Bot Token (Get from https://t.me/BotFather)
BOT_TOKEN=your_bot_token_here

# Bot Owner & Admin Configuration
OWNER_IDS=8378171861,8192070400
SUDO_USERS=

# Force Subscribe & Updates Channel
FORCE_SUB_CHANNEL=MoviesGroupG3
UPDATE_CHANNEL_URL=https://t.me/MoviesGroupG3
SUPPORT_GROUP_URL=https://t.me/ash_movie_j

# Log Channel (Bot will log restarts, new users & downloads here)
LOG_CHANNEL_ID=-1004350432978

# Bot Details
BOT_NAME=Ash Insta Downloader Bot
PORT=8080
DOWNLOAD_DIR=downloads
DATABASE_FILE=bot_database.db
