# Telegram API Credentials (Get them free from https://my.telegram.org)
API_ID=30720676
API_HASH=a078e3476750afbd6db7d6c5e5e658d9

# Telegram Bot Token (Get from https://t.me/BotFather)
BOT_TOKEN=8787823232:AAGH7QPCSvgV_nJ2Hi-9XasY-3yjm6mvHDc

# Bot Owner & Admin Configuration
OWNER_IDS=5566977478
SUDO_USERS=

# Force Subscribe & Updates Channel
FORCE_SUB_CHANNEL=MoviesGroupG3
UPDATE_CHANNEL_URL=https://t.me/MoviesGroupG3
SUPPORT_GROUP_URL=https://t.me/ash_movie_j

# Log Channel (Bot will log restarts, new users & downloads here)
LOG_CHANNEL_ID=-1004350432978

# Bot Details
BOT_NAME=Ash Insta Downloader Bot
PORT=8080
DOWNLOAD_DIR=downloads
DATABASE_FILE=bot_database.db
